# MySQL Database Configurations
MYSQL_ROOT_PASSWORD=supersecure_root_pass_997
MYSQL_DATABASE=employee_db
MYSQL_USER=ems_user
MYSQL_PASSWORD=secure_ems_pass_312
DB_HOST_PORT=3306

# Spring Boot & Admin Security Configurations
ADMIN_EMAIL=myname@1.com
ADMIN_PASSWORD=12345
BACKEND_PORT=8080

# Frontend Deployment Configuration
FRONTEND_PORT=80
